#app {
  background-color: #A6D1E6;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  bottom: 0;
}

#main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40%;
  width: 40%;
}

#main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #FEFBF6;
  border: 5px #e4e4e4 ridge;
  border-radius: 5px;
  padding: 10%;
  margin: 10% 5% 5% 5%;
}

.sign-in-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  bottom: 0;
}

.sign-in-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #FEFBF6;
  padding: 4% 1%;
  margin: 1%;
  border-radius: 25px;
  height: 65%;
  width: 40%; 
  min-height: 600px;
  border: 5px #e4e4e4 ridge;
  border-radius: 5px;
}

.error-message {
  color: #ff0000;
}

.even-btns {
  display: flex;
  justify-content:space-between;
  align-items: center;
}

/* .create-portfolio-btn {
  width: 50%;
  height: 10%;
  background-color: #5ed1ff;
  color: rgb(0, 40, 63);
  border-radius: 5px;
  border: 2px ridge rgb(0, 0, 0);
  padding: 3%;
}

.create-portfolio-btn:hover {
  background-color: #00b7ff;
  cursor: pointer;
} */


.create-portfolio-btn {
  width: 50%;
  height: 10%;
  padding: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6083c5;
  border-radius: 4px;
  border: 0;
  box-shadow: rgba(236, 244, 255, 0.5) 0 -1px 3px 0 inset,rgba(151, 160, 170, 0.1) 0 3px 6px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inherit;
  font-family: "Space Grotesk",-apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 18px;
  margin: 0;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  transition: all .2s cubic-bezier(.22, .61, .36, 1);
  margin-bottom: 10%;
}

.create-portfolio-btn:hover {
  background-color: #3870be;
  transform: translateY(-2px);
}

.divider-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divider {
  height: 2px;
  width: 100%;
  background-color: rgb(224, 224, 224);
}

.divider-left {
  height: 20px;
  width: 0.5%;
  float: left;
  background-color: rgb(224, 224, 224);
  border-radius: 15px;
}

.divider-right {
  height: 20px;
  width: 0.5%;
  float: right;
  background-color: rgb(224, 224, 224);
  border-radius: 15px;
}


.portfolio-tab {
  width: 85%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  font-family: "JetBrains Mono",monospace;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.portfolio-tab:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.portfolio-tab:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.portfolio-tab:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.stock-table {
  display: flex;
  justify-content: center;
  align-items: center;  
  width: 99%;
}


#portfolio-container {
  background-color: #FEFBF6;
  padding: 2%;
  border: 5px #e4e4e4 ridge;
  border-radius: 5px;
  margin: 5% 5% 5% 5%;
  overflow-x: auto;
}

.portfolio-info {
  display: flex;
  justify-content:space-around;
  align-items: center;
  flex-direction: row;
  margin-bottom: 3%;
}

.account-info-box {
  background-color: #e6f5ff;
  padding: 1%;
  border: 5px ridge #b1e0ff;
  width: fit-content;
  border-radius: 5px;
}

.pagination-btns {
  display: flex;
  justify-content:space-between;
  align-items: center;
  flex-direction: row;
}

#about-page {
}

#about-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #FEFBF6;
  border: 5px #e4e4e4 ridge;
  border-radius: 5px;
  padding: 5%;
  margin: 5% 5% 5% 5%;
}

#about-content p {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-size: 15pt;
}

.about-img {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 1500px){
  #main-content {
    margin-top: 20%;
  }
  #about-content, #portfolio-container {
    margin-top: 10%;
  }
}

@media screen and (max-width: 1100px) {
  #main {
    width: 80%;
    height: 80%;
  }
  .sign-in-box {
  height: 75%;
  width: 60%;
  }
  .responsive-input {
    width: 100%;
  }
  .portfolio-info {
    flex-direction: column;
  }
}

@media screen and (max-width: 700px) {
  #about-content, #portfolio-container {
    margin-top: 15%;
  }
}

@media screen and (max-width: 610px) {
  .sign-in-box {
  height: 75%;
  width: 60%;
  }
  .responsive-input {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  #about-content {
    margin-top: 25%;
  }
}

@media screen and (max-width: 287px) {
  #about-content, #portfolio-container {
    margin-top: 50%;
  }
}